
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cargar Jugador</title>
</head>
<body>
    <h1>Cargar Jugador</h1>
    <form action="/jugadores/cargar" method="post">
        Nombre: <input type="text" name="Nombre" value="" />
        Apellido: <input type="text" name="Apellido" value="" />
        Club: <input type="text" name="Club" value="" />

        <input type="submit" name="btn" value="Cargar" />

    </form>
</body>
</html>